.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

.loading {
  position: relative;
  background-color: black;
  width: 100vw;
  height: 100vh;
  /* position: absolute; */
}
.loading img {
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
}

.sceneContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

.audio {
  width: 80%;
  height: 100px;
  /* object-fit: initial; */
  padding-bottom: 40px;
  z-index: 99;
}
.audio::cue {
  height: 50px;
  color: white;
  font-size: 22px;
}

.audio-controls {
  position: absolute;
  display: flex;
  z-index: 99;
  color: white;
  gap: 25px;
  padding: 20px;
}

.audio-controls div {
  cursor: pointer;
}
.audio-controls div:nth-of-type(1):hover {
  color: green;
}
.audio-controls div:nth-of-type(2):hover {
  color: blue;
}
.audio-controls div:nth-of-type(3):hover {
  color: red;
}

.captions {
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 99;
  text-align: center;
  width: 100%;
}

.captions span {
  position: absolute;
  bottom: 5%;
  width: 100%;
}
